<h2><%= @title %></h2>
<p><%= @content %></p>
<p>
  <a href="/memos/<%= @id %>/edit">更新</a>
</p>
<form action="/memos/<%= @id %>" method="post">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="削除">
</form>

