<form action='/memos' method='post'>
  <p>
    <input type='text' class="text" name="title" required>
  </p>
  <p>
    <textarea name ="content"></textarea>
  </p>
  <p>
    <input type="submit" value="保存" class="submit">
  </p>
</form>
